@use './_var' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family, sans-serif;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
img {
	margin: 0;
}

html:focus-within {
	scroll-behavior: auto;
}

body {
	min-height: 100vh;
	font-family: 'Epilogue', sans-serif;
	font-weight: $fs-default;
	font-size: 14px;
	line-height: calc(26 / 16);
	text-rendering: optimizeSpeed;
}

button {
	font: inherit;
	outline: none;
	border: none;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img {
	max-width: 100%;
	display: block;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
